.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;

    position: absolute;
    width: 75px;
    height: 30px;
    left: 130px;
    top: 21px;

background: #FFFFFF;
}

.navitems{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;

    position: absolute;
    width: 713px;
    height: 30px;
    left: 625px;
    top: 21px;

background: #FFFFFF;
}

.header{
    position: absolute;
    width: 1440px;
    height: 73px;
    left: 0px;
    top: 0px;

    background: #C4C4C4;
}

.rectangle2{
    position: absolute;
    width: 1440px;
    height: 910px;
    left: 0px;
    top: 72px;

    background: #C4C4C4;
}

.title-content{
    position: absolute;
    width: 404px;
    height: 180px;
    left: 130px;
    top: 300px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 20px;

    color: #000000;

}

.rectangle3{
    position: absolute;
    width: 687px;
    height: 440px;
    left: 690px;
    top: 232px;

    background: #FFFFFF;
}

.image{
    position: absolute;
    width: 247px;
    height: 94px;
    left: 220px;
    top: 100px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 94px;
    color: #000000;

}
.rectangle4{
    position: absolute;
    width: 1440px;
    height: 910px;
    left: 0px;
    top: 982px;

    background: #DBDBDB;
}

.rectangle5{
    position: absolute;
    width: 312.27px;
    height: 200px;
    left: 242px;
    top: 450px;

    background: #FFFFFF;
}
.imagesection2{
    position: absolute;
    width: 112.27px;
    height: 42.73px;
    left: 95px;
    top: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 36.3636px;
    line-height: 43px;
    color: #000000;
}

.section-content-section2{
    position: absolute;
    width: 575px;
    height: 94px;
    left: 468px;
    top: 150px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 94px;
    /* identical to box height */

    color: #000000;
}

.rectangle5-2{
    position: absolute;
    width: 312.27px;
    height: 200px;
    left: 350px;
    top: 0px;

    background: #FFFFFF;
}

.rectangle5-3{
    position: absolute;
    width: 312.27px;
    height: 200px;
    left: 700px;
    top: 0px;

    background: #FFFFFF;
}

.text-section2{
    position: absolute;
    width: 71px;
    height: 43px;
    left: 120px;
    top: 180px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 36.3636px;
    line-height: 43px;
    color: #000000;
}

.text-section2-2{
    position: absolute;
    width: 71px;
    height: 43px;
    left: 470px;
    top: 180px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 36.3636px;
    line-height: 43px;
    color: #000000;
}

.text-section2-3{
    position: absolute;
    width: 71px;
    height: 43px;
    left: 820px;
    top: 180px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 36.3636px;
    line-height: 43px;
    color: #000000;
}

.rectangle6{
    position: absolute;
    width: 1440px;
    height: 910px;
    left: 0px;
    top: 1892px;

    background: #C4C4C4;
}

.contact-form{
    position: absolute;
    width: 488px;
    height: 94px;
    left: 500px;
    top: 60px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 94px;


    color: #000000;
}
.contact-form-box{
    position: absolute;
    width: 823px;
    height: 560px;
    left: 344px;
    top: 300px;
    font-size: 40px;

    background: #FFFFFF;
    border-radius: 8px;
}
.submit-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;

    position: absolute;
    width: 120px;
    height: 40px;
    left: 650px;
    top: 750px;

    background: #C4C4C4;
    border-radius: 8px;
}

.submit{
    position: static;
    width: 90px;
    height: 100px;
    left: 2000px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

.rectangle7{
    position: absolute;
    width: 1440px;
    height: 116px;
    left: 0px;
    top: 900px;

    background: #DBDBDB;
}

.made{
    position: absolute;
    width: 20px;
    height: 38px;
    left: 178px;
    top: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */


    color: #000000;

}

.madewith{
    position: absolute;
    width: 20px;
    height: 38px;
    left: 260px;
    top: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */


    color: #000000;

}

.utkarshtyagi{
    position: absolute;
    width: 245px;
    height: 38px;
    left: 305px;
    top: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
}

.circle-1{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1070px;
    top: 930px;
    border-radius: 40px;

    background: #C4C4C4;
}

.circle-2{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1200px;
    top: 930px;
    border-radius: 40px;

    background: #C4C4C4;
}

.circle-3{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 1330px;
    top: 930px;
    border-radius: 40px;

    background: #C4C4C4;
}

.links{
    position: absolute;
    width: 158px;
    height: 38px;
    left: 883px;
    top: 930px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #000000;
}
